
<!-- Modal -->
<div class="modal modal-lg fade" id="saveApiDataModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Save Data</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Modal Body with Data Display -->
      <div class="modal-body">

        <p id="save-edit-entity-display"></p>

        <form class="row g-4 save-edit-form" action="/set_entity" method="POST" autocomplete="off">
          <input type="hidden" id="save-edit-entity-type" name="entity_type">
          <div class="col-12">
            <label for="save-edit-value" id="save-edit-value-label" class="form-label">Value</label>
            <textarea class="form-control" id="save-edit-value" name="value" rows="3"></textarea>
            <div class="form-text" id="save-edit-value-text">This form is for editing a single field. First create the item you want to update. Then come back here and add this data to it.</div>
          </div>
          <div class="col-12 mt-3">
            <label for="save-edit-entity" class="form-label">Entity</label>
            <select id="save-edit-entity" class="form-select" name="entity_id">
              <option selected>Choose...</option>
            </select>
          </div>
          <div class="col-12 mt-3">
            <label for="save-edit-field" class="form-label">Field</label>
            <select id="save-edit-field" class="form-select" name="field">
              <option selected>Choose...</option>
            </select>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-success">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
