/* Default: Light Theme */
:root {
  --bg-color: #ffffff;
  --border-width: 0px;
}

/* Dark Theme Override */
[data-bs-theme="dark"] {
  --bg-color: #252526;
  --border-width: 1px;
}

.log-container {
  background-color: var(--bg-color);
  margin: 0 auto;
}

pre {
  font-family: monospace;
  padding: 10px;
  border-radius: 5px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.log-line {
  border-bottom: var(--border-width) solid #3c3c3c;
  padding: 5px 0;
}
