<!-- templates/view_person.html -->
{% extends 'layout.html' %}

{% block title %}All Chunks{% endblock %}

{% block content %}

<h1 class="mt-4 mb-0">All Chunks</h1>
<p class="mt-1 mb-4">All chunks saved to the database.</p>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="row mb-5">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Metadata</th>
          <th scope="col">Extracted Text (Preview)</th>
          <th scope="col" class="col-1">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for item in data %}
          <tr>
            <td scope="row">{{ item.meta }}</td>
            <td>{{ item.text }}</td>
            <td>
              <a class="btn btn-danger w-100 text-nowrap" type="button" data-bs-toggle="modal" data-bs-target="#deleteVectorModal" data-bs-edit-path="chunk" data-bs-item-entity-id="0" data-bs-item-id="{{ item.id }}" data-bs-item="{{ item.text }}">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="pagination d-flex align-items-center mb-5">
      {% if page > 1 %}
          <a class="btn btn-secondary me-2" href="{{ url_for('chunk', page=page-1) }}">Previous</a>
      {% endif %}

      <p class="mb-0">Page {{ page }} of {{ total_pages }}</p>

      {% if page < total_pages %}
          <a class="btn btn-secondary ms-2" href="{{ url_for('chunk', page=page+1) }}">Next</a>
      {% endif %}
    </div>
  </div>
</div>

{% include 'includes/delete_vector_modal.html' %}

{% endblock %}
