<!-- templates/view_person.html -->
{% extends 'layout.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<h1 class="my-4">Dashboard</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="row">
  <div class="col-md-3">
    {% include 'includes/sidebar_menu.html' %}
  </div>
  <div class="col-md-9">
    <h3 class="my-4">Caluculate Probabilities</h3>
    <p>Calculate the probability of each person being involved. Softmax takes all people and gives them a rating from 0.0 to 1.0 where all people added together equals 1.0. So if there where two people listed then you would get two values both equaling 1.0. [0.5, 0.5], [0.75, 0.25], etc..</p>
    <h3 class="my-4">List Notices that need to be completed.</h3>
    <p>Notices on the Notice page are TODOs. The Optimize Investigation, when given a prompt and a question, gives suggestions on how to move forward if you find yourself stuck. List notices here that are incomplete. The better you make the prompt and the question the better the suggestions.</p>
  </div>
</div>

{% endblock %}
