<!-- templates/search.html -->
{% extends 'layout.html' %}

{% block title %}Edit Task{% endblock %}

{% block content %}

<h1 class="my-4">Edit Task</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="row">
  <div class="col-12">
    <a href="{{ url_for('task') }}" class="btn btn-primary mb-3">back</a>
  </div>
</div>

<div class="row mt-4">
  <div class="col-12">
    <form class="row g-4" action="/set_task" method="POST" name="task" autocomplete="off">
      <input type="hidden" class="form-control" id="task-id" name="id" value="{{ task_data.id }}" />
      <div class="col-8">
        <label for="task-name" class="form-label">Name</label>
        <textarea class="form-control" id="task-name" name="name" rows="3" required>{{ task_data.name }}</textarea>
      </div>

      <div class="col-4">
        <label for="task-name" class="form-label">Table Name</label>
        <input type="text" class="form-control" id="task-table-name" name="sqlTableName" value="{{ task_data.sqlTableName }}">
      </div>
      <div class="col-4">
        <label for="task-date-created" class="form-label">Date Created</label>
        <input type="date" class="form-control" id="task-date-created" name="dateCreated" value="{{ task_data.dateCreated }}">
      </div>
      <div class="col-8">
        <label for="task-description" class="form-label">Insert Statement</label>
        <textarea class="form-control" id="task-insert-statement" name="sqlInsertStatement" rows="3">{{ task_data.sqlInsertStatement }}</textarea>
      </div>
      <div class="col-12 mb-5">
        <button class="btn btn-primary" type="submit">Save</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
