<!-- templates/search.html -->
{% extends 'layout.html' %}

{% block title %}Edit Alias{% endblock %}

{% block content %}

<h1 class="my-4">Edit Alias</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="row">
  <div class="col-md-12">
    <a href="{{ url_for('alias') }}" class="btn btn-primary mb-3">back</a>
  </div>
</div>

<div class="row mt-5">
  <div class="col-md-12">
    <form class="row g-4" action="/set_alias" method="POST" name="alias" autocomplete="off">
      <input type="hidden" class="form-control" id="alias-id" name="id" value="{{ alias_data.id }}" />
      <div class="col-md-6">
        <label for="alias-sirName" class="form-label">Sir Name</label>
        <select class="form-select" id="alias-sirName" name="sirName">
          <option value="">Choose...</option>
          {% for name in sir_names %}
            {% if alias_data.sirName == name %}
              <option value="{{ name }}" selected>{{ name }}</option>
            {% else %}
              <option value="{{ name }}">{{ name }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
      <div class="col-md-6">
        <label for="alias-suffix" class="form-label">Suffix</label>
        <select class="form-select" id="alias-suffix" name="suffix">
          <option value="">Choose...</option>
          {% for s in suffixes %}
            {% if alias_data.suffix == s %}
              <option value="{{ s }}" selected>{{ s }}</option>
            {% else %}
              <option value="{{ s }}">{{ s }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
      <div class="col-md-4">
        <label for="alias-firstName" class="form-label">First name</label>
        <input type="text" class="form-control" id="alias-firstName" name="firstName" value="{{ alias_data.firstName }}" required>
      </div>
      <div class="col-md-4">
        <label for="alias-middleName" class="form-label">Middle name</label>
        <input type="text" class="form-control" id="alias-middleName" name="middleName" value="{{ alias_data.middleName }}">
      </div>
      <div class="col-md-4">
        <label for="alias-lastName" class="form-label">Last name</label>
        <input type="text" class="form-control" id="alias-lastName" name="lastName" value="{{ alias_data.lastName }}">
      </div>
      <div class="col-md-3">
        <label for="alias-owner" class="form-label">Person</label>
        <select class="form-select" id="alias-owner" name="owner" required>
          <option value="">Choose...</option>
          {% for person in owners %}
            {% if alias_data.owner == person.id %}
              <option value="{{ person.id }}" selected>{{ person.sirName }} {{ person.firstName }} {{ person.middleName }} {{ person.lastName }} {{ person.suffix }}</option>
            {% else %}
              <option value="{{ person.id }}">{{ person.sirName }} {{ person.firstName }} {{ person.middleName }} {{ person.lastName }} {{ person.suffix }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
      <div class="col-12 mb-5">
        <button class="btn btn-primary" type="submit">Submit form</button>
      </div>
    </form>
  </div>
</div>

{% include 'includes/delete_modal.html' %}

{% endblock %}
