<!-- templates/search.html -->
{% extends 'layout.html' %}

{% block title %}Edit Lead{% endblock %}

{% block content %}

<h1 class="my-4">Edit Lead</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="row">
  <div class="col-12">
    <a href="{{ url_for('lead') }}" class="btn btn-primary mb-3">back</a>
  </div>
</div>

{% if not data %}
  <form class="row" action="/save_to_vector_lead" method="post" autocomplete="off">
    <input type="hidden" class="form-control" name="id" value="{{ lead_data.id }}" />
    <div class="col-12 mb-2">
      <button class="btn btn-success" type="submit">Add leads to vector database.</button>
    </div>
  </form>
{% endif %}

<div class="row mt-4">
  <div class="col-12">
    <form class="row g-4" action="/set_lead" method="POST" name="lead" autocomplete="off">
      <input type="hidden" class="form-control" id="lead-id" name="id" value="{{ lead_data.id }}" />
      <div class="col-4">
        <label for="lead-name" class="form-label">Name</label>
        <input type="text" class="form-control" id="lead-name" name="name" value="{{ lead_data.name }}">
      </div>
      <div class="col-md-4">
        <label for="lead-type" class="form-label">Relationship</label>
        <input type="text" class="form-control" id="lead-type" name="type" value="{{ lead_data.type }}">
      </div>
      <div class="col-4">
        <label for="lead-owner" class="form-label">Person</label>
        <select class="form-select" id="lead-owner" name="owner">
          <option value="0">Choose...</option>
          {% for person in owners %}
            {% if lead_data.owner == person.id %}
              <option value="{{ person.id }}" selected>{{ person.sirName }} {{ person.firstName }} {{ person.middleName }} {{ person.lastName }} {{ person.suffix }}</option>
            {% else %}
              <option value="{{ person.id }}">{{ person.sirName }} {{ person.firstName }} {{ person.middleName }} {{ person.lastName }} {{ person.suffix }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
      <div class="col-md-6">
        <label for="lead-email" class="form-label">Email</label>
        <input type="email" class="form-control" id="lead-email" name="email" value="{{ lead_data.email }}">
      </div>
      <div class="col-md-6">
        <label for="lead-phone" class="form-label">Phone</label>
        <input type="tel" class="form-control" id="lead-phone" name="phone" value="{{ lead_data.phone }}">
      </div>
      <div class="col-md-6">
        <label for="lead-dob" class="form-label">DOB</label>
        <input type="date" class="form-control" id="lead-dob" name="dob" value="{{ lead_data.dob }}">
      </div>
      <div class="col-md-6">
        <label for="lead-reporter" class="form-label">Reporter</label>
        <select class="form-select" id="lead-reporter" name="reporter">
          <option value="0">Choose...</option>
          {% for reporter in reporters %}
            {% if lead_data.reporter == reporter.id %}
              <option value="{{ reporter.id }}" selected>{{ reporter.source }}</option>
            {% else %}
              <option value="{{ reporter.id }}">{{ reporter.source }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
      <div class="col-9">
        <label for="lead-report" class="form-label">Report</label>
        <textarea class="form-control" id="lead-report" name="report" rows="3">{{ lead_data.report }}</textarea>
        <div class="form-text" id="lead-report-text">Leads related to the missing person that might hold weight in the investigation.</div>
      </div>
      <div class="col-12 mb-5">
        <button class="btn btn-primary" type="submit">Save</button>
      </div>
    </form>
  </div>
</div>

{% if metadatas %}
<hr>
<h3 class="my-4">Chunks</h3>

<div class="row mb-5">
  <div class="col-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Metadata</th>
          <th scope="col">Extracted Text (Preview)</th>
          <th scope="col" class="col-2">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for item in data %}
          <tr>
              <td scope="row">{{ item.id }}</td>
              <td>{{ item.text }}</td>
              <td>
                <a class="btn btn-danger w-100 text-nowrap" type="button" data-bs-toggle="modal" data-bs-target="#deleteVectorModal" data-bs-edit-path="edit_lead" data-bs-item-entity-id="{{ lead_data.id }}" data-bs-item-id="{{ item.id }}" data-bs-item="{{ item.text }}">Delete</a>
              </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% include 'includes/delete_vector_modal.html' %}

{% include 'includes/delete_file_vector_modal.html' %}

{% endif %}

{% endblock %}
