<!-- templates/search.html -->
{% extends 'layout.html' %}

{% block title %}Edit Note Vector{% endblock %}

{% block content %}

<h1 class="my-4">Edit Note Vector</h1>
<p>You can only add new metadata. No updating or deleting. The Remove button is only for removing the new elements before submitting. If you add something and need to delete it you will need to delete and save the note to vector again.</p>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="row">
  <div class="col-md-12">
    <a href="{{ url_for('edit_note', id=vector_data.id) }}" class="btn btn-primary mb-3">back</a>
  </div>
</div>

<h3 class="my-4">Document</h3>
<div class="row">
  <div class="col-12">
    <form action="/set_note_metadata" method="post" autocomplete="off">
      <input type="hidden" class="form-control" name="id" value="{{ vector_data.id }}" />
      <input type="hidden" class="form-control" name="file_id" value="{{ vector_data.file_id }}" />
      <input type="hidden" class="form-control" name="vector_id" value="{{ vector_data.vector_id }}" />
      <div class="row g-4">
        <div class="col-md-9">
          <label for="note-vector-content" class="form-label">Content</label>
          <textarea class="form-control" id="note-vector-content" name="content" rows="5" required>{{ vector_data.text }}</textarea>
        </div>
      </div>
      <div id="note-vector-new-metadata">
        {% for name, value in meta %}
          <div class="row g-4 mt-2">
            <div class="col-5">
              <label class="form-label">Name</label>
              <input type="text" class="form-control" name="name[]" value="{{ name }}" readonly required>
            </div>
            <div class="col-5">
              <label class="form-label">Value</label>
              <textarea class="form-control" name="value[]" rows="3" readonly required>{{ value }}</textarea>
            </div>
            <div class="col-2 d-flex flex-column align-items-start">
              <label class="form-label">Actions</label>
              <button class="btn btn-primary" type="button" class="note-vector-remove-metadata" disabled>Remove</button>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="col-12 mb-5">
        <button class="btn btn-primary me-2" type="submit">Save</button>
        <button class="btn btn-primary" type="button" id="note-vector-add-metadata">Add New</button>
      </div>
    </form>
  </div>
</div>

<script>
  function createFileVectorRow() {
    const row = document.createElement('div');
    row.className = 'row g-4 mt-2';
    // Helper to create columns
    const createCol = (labelTxt, inputType, attrName = '') => {
      const col12 = document.createElement('div');
      col12.className = 'col-5';

      const col3 = document.createElement('div');
      col3.className = 'col-2 d-flex flex-column align-items-start';

      const label = document.createElement('label');
      label.className = 'form-label';
      label.textContent = labelTxt;

      if(inputType === 'button') {
        const button = document.createElement('button');
        button.type = 'button';
        button.className = 'btn btn-primary note-vector-remove-metadata';
        button.textContent = 'Remove';
        button.addEventListener('click', function() {
          this.closest('.row').remove();
        });
        col3.append(label, button)
        return col3;
      } else {
        const input = document.createElement(inputType);
        input.className = 'form-control';
        input.name = `${attrName}[]`;
        input.required = true;
        if (inputType === 'textarea') {
          input.rows = 3;
          input.value = '';
        }
        if (inputType === 'input') {
          input.value = '';
        }
        col12.append(label, input);
        return col12;
      }
    };

    row.append(
      createCol('Name', 'input', 'name'),
      createCol('Value', 'textarea', 'value'),
      createCol('Actions', 'button')
    );

    return row;
  }

  // Generic listener for ALL modals on the page
  const addMetadata = document.getElementById('note-vector-add-metadata');
  addMetadata.addEventListener('click', function (event) {
    event.preventDefault();

    const myRow = createFileVectorRow();
    document.getElementById('note-vector-new-metadata').appendChild(myRow);
  });
</script>

{% endblock %}
