<!-- templates/search.html -->
{% extends 'layout.html' %}

{% block title %}Events{% endblock %}

{% block content %}

<h1 class="my-4">Events</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col" class="col-2">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for event in events %}
          <tr>
              <td scope="row">{{ event.id }}</td>
              <td>{{ event.title }}</td>
              <td>
                <a class="btn btn-secondary w-100 text-nowrap" href="{{ url_for('edit_event', id=event.id) }}">Edit</a>
                {% if event.ifComplete == 0 %}
                  <a class="btn btn-primary w-100 text-nowrap mt-2" href="{{ url_for('set_event_complete', id=event.id, ifComplete=1) }}">Mark Complete</a>
                {% else %}
                  <a class="btn btn-success w-100 text-nowrap mt-2" href="{{ url_for('set_event_complete', id=event.id, ifComplete=0) }}">Mark Not Complete</a>
                {% endif %}
                <a class="btn btn-danger w-100 text-nowrap mt-2" type="button" data-bs-toggle="modal" data-bs-target="#deleteModal" data-bs-item-type="event" data-bs-item-id="{{ event.id }}" data-bs-item="{{ event.title }}">Delete</a>
              </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="pagination d-flex align-items-center">
      {% if page > 1 %}
          <a class="btn btn-secondary me-2" href="{{ url_for('event', page=page-1) }}">Previous</a>
      {% endif %}

      <p class="mb-0">Page {{ page }} of {{ total_pages }}</p>

      {% if page < total_pages %}
          <a class="btn btn-secondary ms-2" href="{{ url_for('event', page=page+1) }}">Next</a>
      {% endif %}
    </div>
  </div>
</div>

<hr>
<h3 class="my-4">Add Event</h3>

<div class="row mt-5">
  <div class="col-12">
    <form class="row g-4" action="/set_event" method="POST" name="event" autocomplete="off">
      <input type="hidden" class="form-control" id="event-id" name="id" />
      <div class="col-6">
        <label for="event-title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" required>
      </div>
      <div class="col-3">
        <label for="event-date" class="form-label">Date</label>
        <input type="date" class="form-control" id="event-date" name="date">
      </div>
      <div class="col-3">
        <label for="event-time" class="form-label">Time</label>
        <input type="time" class="form-control" id="event-time" name="time">
      </div>
      <div class="col-6">
        <label for="event-location" class="form-label">Location</label>
        <input type="text" class="form-control" id="location" name="location">
      </div>
      <div class="col-6">
        <label for="event-source" class="form-label">Source</label>
        <input type="text" class="form-control" id="source" name="source">
      </div>
      <div class="col-md-6">
        <label for="event-reporter" class="form-label">Reporter</label>
        <select class="form-select" id="event-reporter" name="reporter">
          <option value="0">Choose...</option>
          {% for reporter in reporters %}
            <option value="{{ reporter.id }}">{{ reporter.source }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-6">
        <label for="event-owner" class="form-label">Person</label>
        <select class="form-select" id="event-owner" name="owner">
          <option value="0">Choose...</option>
          {% for person in owners %}
            <option value="{{ person.id }}">{{ person.sirName }} {{ person.firstName }} {{ person.middleName }} {{ person.lastName }} {{ person.suffix }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-12">
        <label for="event-description" class="form-label">Description</label>
        <textarea class="form-control" id="event-description" name="description" rows="3"></textarea>
        <div class="form-text" id="event-description-text">Events related to the missing person that represent a point on a timeline.</div>
      </div>
      <div class="col-12 mb-5">
        <button class="btn btn-primary" type="submit">Save</button>
      </div>
    </form>
  </div>
</div>

{% include 'includes/delete_modal.html' %}

{% endblock %}
