<!-- templates/index.html -->
{% extends 'layout.html' %}

{% block title %}View Feed Log{% endblock %}

{% block content %}

<h1 class="my-4">View Feed Log</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="row">
  <div class="col-md-12">
    <a href="{{ url_for('feed_log') }}" class="btn btn-primary mb-3">back</a>
  </div>
</div>

<div class="row mt-2 mb-5">
  <div class="col-12">
    <div class="card border-0 shadow-sm h-100">
      <div class="card-header border-secondary d-flex justify-content-between align-items-center">
        <span class="fw-bold font-monospace text-uppercase small">Raw API Payload</span>
        <div class="d-flex gap-2">
          <form action="/extract_leads" method="POST" name="extract_leads">
            <input type="hidden" name="id" value="{{ feed_log.id }}">
            <div class="col-12">
              <button class="btn btn-primary w-100" type="submit">Extract Leads</button>
            </div>
          </form>
          <form action="/extract_events" method="POST" name="extract_events">
            <input type="hidden" name="id" value="{{ feed_log.id }}">
            <div class="col-12">
              <button class="btn btn-primary w-100" type="submit">Extract Timeline Events</button>
            </div>
          </form>
        </div>
      </div>
      <div class="card-body overflow-y-auto" style="max-height: 600px;">
        <pre class="text-success text-break break-word w-100 m-0 p-1" style="white-space: pre-wrap; word-break: break-word;"><code>{{ formatted_json }}</code></pre>
      </div>
    </div>
  </div>
</div>

<div class="row mt-2 mb-5">
  <div class="col-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Link</th>
          <th scope="col" class="col-2">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for link in all_links %}
          <tr>
            <td>{{ link }}</td>
            <td>
              <a class="btn btn-primary w-100 text-nowrap" href="{{ link }}" target="_blank">View</a>
              <form action="/save_links" method="POST" name="save_links">
                <input type="hidden" name="id" value="{{ feed_log.id }}">
                <input type="hidden" name="link" value="{{ link }}">
                <div class="col-12">
                  <button class="btn btn-success w-100 text-nowrap mt-2" type="submit">Save</button>
                </div>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
