<!-- templates/index.html -->
{% extends 'layout.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<h1 class="my-4 mb-0">Missing Persons</h1>
<p class="mt-0">The plan is to create a release for each stage. Write and test the stage. Create an .exe file. Build it into an installer. Write docs for installation and usage. Upload to my website so it can be downloaded.</p>

<h3 class="my-3 mb-0">Stage 1</h3>
<p class="mt-0 mb-3">Build out the database for Person and Categories.</p>
<ul>
  <li>Eack link is a separate entity.
    <ul>
      <li>Categories - You can have different categories for people, phones, emails and addresses. Define your categories for each and they will show up in each of them when you add or edit rows.</li>
      <li>Person - A person is anyone you will search for information on through the APIs(next stage). The initial category I created for person was 'Missing Person'. You can change it or create others like 'Person of Interest' etc..</li>
      <li>The rest are parts of a person, addresses, emails, phones and alias. They all have an owner which is a person entity.</li>
      <li>View Person - A page to view people. Going to finish the main work first.</li>
    </ul>
  </li>
</ul>

<h3 class="my-3 mb-0">Stage 2</h3>
<p class="mt-0">Build out the database and pages for consuming APIs.</p>
<ul>
  <li>Api, ApiFields and State. I have just finished the basics and added Nancy Guthrie as aan example of how to use it. There is still alot of work to do on this part of the system. Im going to move on though and complete the minimum of each Stage so I can have a fully working app before I go back and fully complete everything. This allows U.S to help if you want by taking on a section of it. Thanks.
    <ul>
      <li>Api - Fill in the information about the api here. Put the full url into the url field including the https:// and the url endpoint.</li>
      <li>ApiFields - Fill in each field that will be used in the api call. Field is a query parameter and is used to filter results. The field is the query parameter name, value is the value that needs to be there. Everything associated with a person will eventually be an option in the value list. Right now there is only the persons name.</li>
      <li>State - The appication state is saved to help guild your workflow. The state form in the upper right corner and holds the person and the api that you are working on. When you create ApiFields or call Apis you need to have the Person and the Api selected and saved in state.</li>
    </ul>
  </li>
</ul>

<h3 class="my-3 mb-0">Stage 3</h3>
<p class="mt-0">Build out the vector database to save the API data for the Ollama model. Users can refine the data.</p>

<h3 class="my-3 mb-0">Stage 4</h3>
<p class="mt-0">Build out training functionality for the Ollama LLM. Users can train and retrain models as they build and refine the data.</p>

<h3 class="my-3 mb-0">Stage 5</h3>
<p class="mt-0">Build out prompt functionality for the Ollama LLM. Users can create questions to use when prompting the LLM.</p>

<h3 class="my-3 mb-0">Stage 6</h3>
<p class="mt-0">Use the data gathered from the APIs to build timelines for each person.</p>

<h3 class="my-3 mb-0">Stage 7</h3>
<p class="mt-0">Add images and video to the person object to use when looking though images and videos for matching.</p>

<h3 class="my-3 mb-0">Stage 8</h3>
<p class="mt-0">Build ability to train a model on video and images.</p>

<h3 class="my-3 mb-0">Stage 8</h3>
<p class="mt-0">Build out functionality for testing and viewing data from videos and images.</p>

{% endblock %}
