<!-- templates/search.html -->
{% extends 'layout.html' %}

{% block title %}Leads{% endblock %}

{% block content %}

<h1 class="my-4">Leads</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Lead</th>
          <th scope="col" class="col-2">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for lead in leads %}
          <tr>
              <td scope="row">{{ lead.id }}</td>
              <td>{{ lead.report }}</td>
              <td>
                <a class="btn btn-secondary w-100 text-nowrap" href="{{ url_for('edit_lead', id=lead.id) }}">Edit</a>
                {% if lead.ifViewed == 0 %}
                  <a class="btn btn-primary w-100 text-nowrap mt-2" href="{{ url_for('set_viewed', id=lead.id, ifViewed=1) }}">Mark Viewed</a>
                {% else %}
                  <a class="btn btn-success w-100 text-nowrap mt-2" href="{{ url_for('set_viewed', id=lead.id, ifViewed=0) }}">Mark Not Viewed</a>
                {% endif %}
                <a class="btn btn-danger w-100 text-nowrap mt-2" type="button" data-bs-toggle="modal" data-bs-target="#deleteModal" data-bs-item-type="lead" data-bs-item-id="{{ lead.id }}" data-bs-item="{{ lead.report }}">Delete</a>
              </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="pagination d-flex align-items-center">
      {% if page > 1 %}
          <a class="btn btn-secondary me-2" href="{{ url_for('lead', page=page-1) }}">Previous</a>
      {% endif %}

      <p class="mb-0">Page {{ page }} of {{ total_pages }}</p>

      {% if page < total_pages %}
          <a class="btn btn-secondary ms-2" href="{{ url_for('lead', page=page+1) }}">Next</a>
      {% endif %}
    </div>
  </div>
</div>

<hr>
<h3 class="my-4">Add Lead</h3>

<div class="row mt-5">
  <div class="col-md-12">
    <form class="row g-4" action="/set_lead" method="POST" name="lead" autocomplete="off">
      <input type="hidden" class="form-control" id="lead-id" name="id" />
      <div class="col-md-4">
        <label for="lead-name" class="form-label">Name</label>
        <input type="text" class="form-control" id="lead-name" name="name">
      </div>
      <div class="col-md-4">
        <label for="lead-type" class="form-label">Relationship</label>
        <input type="text" class="form-control" id="lead-type" name="type">
      </div>
      <div class="col-md-4">
        <label for="lead-owner" class="form-label">Person</label>
        <select class="form-select" id="lead-owner" name="owner">
          <option value="0">Choose...</option>
          {% for person in owners %}
            <option value="{{ person.id }}">{{ person.sirName }} {{ person.firstName }} {{ person.middleName }} {{ person.lastName }} {{ person.suffix }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-md-6">
        <label for="lead-email" class="form-label">Email</label>
        <input type="email" class="form-control" id="lead-email" name="email">
      </div>
      <div class="col-md-6">
        <label for="lead-phone" class="form-label">Phone</label>
        <input type="tel" class="form-control" id="lead-phone" name="phone">
      </div>
      <div class="col-md-6">
        <label for="lead-dob" class="form-label">DOB</label>
        <input type="date" class="form-control" id="lead-dob" name="dob">
      </div>
      <div class="col-md-6">
        <label for="lead-reporter" class="form-label">Reporter</label>
        <select class="form-select" id="lead-reporter" name="reporter">
          <option value="0">Choose...</option>
          {% for reporter in reporters %}
            <option value="{{ reporter.id }}">{{ reporter.source }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-md-9">
        <label for="lead-report" class="form-label">Report</label>
        <textarea class="form-control" id="lead-report" name="report" rows="3"></textarea>
        <div class="form-text" id="lead-report-text">Leads related to the missing person that might hold weight in the investigation.</div>
      </div>
      <div class="col-12 mb-5">
        <button class="btn btn-primary" type="submit">Save</button>
      </div>
    </form>
  </div>
</div>

{% include 'includes/delete_modal.html' %}

{% endblock %}
