<!-- templates/search.html -->
{% extends 'layout.html' %}

{% block title %}Prompts{% endblock %}

{% block content %}

<h1 class="my-4">Prompts</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Prompt</th>
          <th scope="col" class="col-2">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for prompt in prompts %}
          <tr>
              <td scope="row">{{ prompt.id }}</td>
              <td>{{ prompt.prompt }}</td>
              <td>
                <a class="btn btn-secondary w-100 text-nowrap" href="{{ url_for('edit_prompt', id=prompt.id) }}">Edit</a>
                <a class="btn btn-secondary w-100 text-nowrap mt-2" href="{{ url_for('link_set_state', type='prompt', id=prompt.id) }}">Set State</a>
                <a class="btn btn-danger w-100 text-nowrap mt-2" type="button" data-bs-toggle="modal" data-bs-target="#deleteModal" data-bs-item-type="prompt" data-bs-item-id="{{ prompt.id }}" data-bs-item="{{ prompt.name }}">Delete</a>
              </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="pagination d-flex align-items-center">
      {% if page > 1 %}
          <a class="btn btn-secondary me-2" href="{{ url_for('prompt', page=page-1) }}">Previous</a>
      {% endif %}

      <p class="mb-0">Page {{ page }} of {{ total_pages }}</p>

      {% if page < total_pages %}
          <a class="btn btn-secondary ms-2" href="{{ url_for('prompt', page=page+1) }}">Next</a>
      {% endif %}
    </div>
  </div>
</div>

<hr>
<h3 class="my-4">Add Prompt</h3>

<div class="row mt-5">
  <div class="col-md-12">
    <form class="row g-4" action="/set_prompt" method="POST" name="prompt" autocomplete="off">
      <input type="hidden" class="form-control" id="prompt-id" name="id" />
      <div class="col-md-9">
        <label for="prompt-prompt" class="form-label">Prompt</label>
        <textarea class="form-control" id="prompt-prompt" name="prompt" rows="3"></textarea>
      </div>
      <div class="col-12 mb-5">
        <button class="btn btn-primary" type="submit">Save</button>
      </div>
    </form>
  </div>
</div>

<div class="form-text" id="prompt-prompt-text">
<h3>IBM's</h3>
<p><a href="https://www.ibm.com/think/topics/prompt-engineering" target="_target">What is prompt engineering?</a></p>
<p>A prompt is the input text or query provided to an AI model, such as a large language model to generate a response. It serves as the primary mechanism for guiding the model’s behavior, defining the task and setting the context for the interaction. The design of a prompt significantly impacts the quality and relevance of the output, making it essential to choose the right type of prompt for specific tasks.</p>

<p>To achieve the best results from AI models, it is essential to understand the various ways prompts can be structured to suit different tasks and objectives. There are three primary ways to structure the prompt: direct instructions, open-ended instructions and task-specific instructions.</p>

<p><b>Direct instructions</b> are clear and specific commands that tell the AI exactly what to do. These prompts are ideal for straightforward tasks where the user has a clear expectation of the output. <b>Direct prompts</b> rely on the model's ability to parse explicit instructions and generate responses that align closely with the command. The more detailed the instruction, the more likely the output will meet expectations.</p>

<p><i>Example:</i></p>

<p>Write a poem about nature.</p>

<p>In this case, the AI knows the exact format [a poem] and topic [nature] to generate the text.</p>

<p><b>Open-ended instructions</b> are less restrictive and encourage the AI to explore broader ideas or provide creative and interpretive responses. These prompts are useful for brainstorming, storytelling or exploratory discussions where the user values variety and originality in the output. <b>Open-ended prompts</b> tap into the model's generative capabilities without imposing constraints. The model relies on its training data to infer the best approach to the prompt, which can produce diverse or unexpected results.</p>

<p><i>Example:</i></p>

<p>Tell me about the universe.</p>

<p>Here, the AI has the freedom to decide what aspects of the universe to discuss, such as its origin, structure or scientific theories.</p>

<p><b>Task-specific instructions</b> are designed for precise, goal-oriented tasks, such as translations, summarization or calculations. These prompts are often crafted with clarity and can include additional context or examples to help ensure accurate responses. <b>Task-specific prompts</b> leverage the model's understanding of specialized tasks. They can incorporate advanced prompting techniques like few-shot prompting (providing examples) or zero-shot prompting (providing no examples but relying on the model's pretrained knowledge).</p>

<p><i>Example:</i></p>

<p>Translate this text into French: 'Hello.'</p>
</div>

{% include 'includes/delete_modal.html' %}

{% endblock %}
