<!-- templates/search.html -->
{% extends 'layout.html' %}

{% block title %}Questions{% endblock %}

{% block content %}

<h1 class="my-4">Questions</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Question</th>
          <th scope="col" class="col-1">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for question in questions %}
          <tr>
              <td scope="row">{{ question.id }}</td>
              <td>{{ question.question }}</td>
              <td>
                <a class="btn btn-secondary w-100 text-nowrap" href="{{ url_for('edit_question', id=question.id) }}">Edit</a>
                <a class="btn btn-secondary w-100 text-nowrap mt-2" href="{{ url_for('link_set_state', type='question', id=question.id) }}">Set State</a>
                <a class="btn btn-danger w-100 text-nowrap mt-2" type="button" data-bs-toggle="modal" data-bs-target="#deleteModal" data-bs-item-type="question" data-bs-item-id="{{ question.id }}" data-bs-item="{{ question.name }}">Delete</a>
              </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="pagination d-flex align-items-center">
      {% if page > 1 %}
          <a class="btn btn-secondary me-2" href="{{ url_for('question', page=page-1) }}">Previous</a>
      {% endif %}

      <p class="mb-0">Page {{ page }} of {{ total_pages }}</p>

      {% if page < total_pages %}
          <a class="btn btn-secondary ms-2" href="{{ url_for('question', page=page+1) }}">Next</a>
      {% endif %}
    </div>
  </div>
</div>

<hr>
<h3 class="my-4">Add Question</h3>

<div class="row mt-5">
  <div class="col-md-12">
    <form class="row g-4" action="/set_question" method="POST" name="question" autocomplete="off">
      <input type="hidden" class="form-control" id="question-id" name="id" />
      <div class="col-md-9">
        <label for="question-question" class="form-label">Question or Query</label>
        <textarea class="form-control" id="question-question" name="question" rows="3"></textarea>
      </div>
      <div class="col-12 mb-5">
        <button class="btn btn-primary" type="submit">Save</button>
      </div>
    </form>
  </div>
</div>

<div class="form-text mb-5" id="question-question-text">
  <h3>Prompts vrs User query?</h3>
  <p>A <b>User Query</b> is the specific <b>Question</b> or task a person wants the AI to complete (e.g., "Write a resume"). A <b>Prompt</b> is the complete set of instructions provided to the AI. It usually combines the user query with a system prompt that dictates the AI's persona, tone, and formatting rules.</p>
  <p>Understanding the differences between these concepts helps you communicate better with AI models and build stronger AI applications.<p>
  <ol>
    <li>User Query (The "What")
      <ul>
        <li><b>Definition:</b> The raw question, task, or request inputted by the end-user.</li>
        <li><b>Purpose:</b> Dictates the immediate goal or the specific problem to be solved.</li>
        <li><b>Characteristics:</b> Short, task-specific, and changes with every new interaction.</li>
        <li><b>Example:</b> <i>"Summarize this article and explain it to a five-year-old."</i></li>
      </ul>
    </li>
    <li>Prompt (The "How" and "Why")
      <ul>
        <li><b>Definition:</b> The entire package of information sent to the AI model. It typically contains both the user query and underlying foundational instructions.</li>
        <li><b>Purpose:</b> Establishes the AI's role, ethical guidelines, style, and boundaries.</li>
        <li><b>Characteristics:</b> Often broken down into System Prompts (job description/rules) and User Prompts (the actual task).</li>
        <li><b>Example:</b> <i>"You are an award-winning children's author. Be enthusiastic, use simple words, and avoid complex jargon."</i></li>
      </ul>
    </li>
  </ol>
  <div class="alert alert-secondary" role="alert">
    <b>System Prompt:</b> <i>"You are an award-winning children's author. Be enthusiastic, use simple words, and avoid complex jargon."</i><br />
    <b>User Query:</b> <i>"Summarize this article and explain it to a five-year-old."</i>
  </div>
</div>

{% include 'includes/delete_modal.html' %}

{% endblock %}
