<!-- templates/view_person.html -->
{% extends 'layout.html' %}

{% block title %}Resources{% endblock %}

{% block content %}

<h1 class="my-4">Resources</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="row">
  <div class="col-md-3">
    {% include 'includes/sidebar_menu.html' %}
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-6">
        {% for key, value in resources.items() %}
          <p class="mt-0"><b>{{ key }}</b></p>
        {% endfor %}
      </div>
      <div class="col-md-6">
        {% for key, value in resources.items() %}
          <p class="mt-0"><i>{{ value }}</i></p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
